Faker==33.0.0
greenlet==3.1.1
inquirerpy==0.3.4
markdown-it-py==3.0.0
mdurl==0.1.2
pfzy==0.3.4
prompt_toolkit==3.0.48
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
rich==13.9.4
six==1.16.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
wcwidth==0.2.13
